$base-path: '@arma-events/web-fonts/dist' !default;
$unicode-ranges: () !default;
$fonts: () !default;
$weights: () !default;

@use 'sass:map';
@use 'sass:string';

@mixin -default-descriptors($font) {
  font-family: $font;
  font-display: swap;
  @if map.has-key($weights, $font) {
    font-weight: string.unquote(map.get($weights, $font));
  } @else {
    font-weight: 200 900;
  }
}

@function -path($font, $style, $subset) {
  @return '#{$base-path}/#{$font}/#{$style}.#{$subset}.woff2';
}

@each $font in $fonts {
  @each $subset, $range in $unicode-ranges {
    @each $style in (normal, italic) {
      @font-face {
        @include -default-descriptors($font);
        font-style: $style;

        src:
          local('#{$font}'),
          url(-path($font, $style, $subset)) format('woff2-variations');
        unicode-range: string.unquote($range);
      }
    }
  }
}

/* Source Sans 3: use ∞ Symbol (U+221E) from Raleway */
@each $style in (normal, italic) {
  @font-face {
    @include -default-descriptors('Source Sans 3');
    font-style: $style;

    src:
      local('Raleway'),
      url(-path('Raleway', $style, 'latin')) format('woff2-variations');
    unicode-range: U+221E;
  }
}

/* Raleway: use @ Symbol (U+0040) from Source Sans 3 */
@each $style in (normal, italic) {
  @font-face {
    @include -default-descriptors('Raleway');
    font-style: $style;

    src:
      local('Source Sans 3'),
      url(-path('Source Sans 3', $style, 'latin')) format('woff2-variations');
    unicode-range: U+0040;
  }
}
