$base-path: '@arma-events/web-fonts/dist' !default;
$named-unicode-ranges: () !default;
$families: () !default;
$weights: () !default;
$styles: () !default;
$ranges: () !default;

@use 'sass:map';
@use 'sass:string';
@use 'sass:list';

@mixin -default-descriptors($family) {
  font-family: $family;
  font-display: swap;
  @if map.has-key($weights, $family) {
    font-weight: string.unquote(map.get($weights, $family));
  } @else {
    font-weight: 200 900;
  }
}

@function -path($family, $style, $subset) {
  @return '#{$base-path}/#{$family}/#{$style}.#{$subset}.woff2';
}

@each $family in $families {
  @each $subset in $ranges {
    $range: map.get($named-unicode-ranges, $subset);
    @each $style in $styles {
      @font-face {
        @include -default-descriptors($family);
        font-style: $style;

        src:
          local('#{$family}'),
          url(-path($family, $style, $subset)) format('woff2-variations');
        unicode-range: string.unquote($range);
      }
    }
  }
}


@if list.index($families, 'Source Sans 3') and list.index($ranges, 'latin') {
  /* Source Sans 3: use ∞ Symbol (U+221E) from Raleway */
  @each $style in $styles {
    @font-face {
      @include -default-descriptors('Source Sans 3');
      font-style: $style;
  
      src:
        local('Raleway'),
        url(-path('Raleway', $style, 'latin')) format('woff2-variations');
      unicode-range: U+221E;
    }
  }
}

@if list.index($families, 'Raleway') and list.index($ranges, 'latin') {
  /* Raleway: use @ Symbol (U+0040) from Source Sans 3 */
  @each $style in $styles {
    @font-face {
      @include -default-descriptors('Raleway');
      font-style: $style;

      src:
        local('Source Sans 3'),
        url(-path('Source Sans 3', $style, 'latin')) format('woff2-variations');
      unicode-range: U+0040;
    }
  }
}
